{% extends 'base.html' %}

{% block content %}

<!--ROOM DETAILS-->
<table class="table table-hover">
    <thead class="table-dark">
    <th colspan="2" class="text-center">Room details</th>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>{% if edit %} {{'<input name="name">'}} {%else%} {{room.name}} {%endif%}</td>
    </tr>
    <tr>
        <td>Capacity</td>
        <td>{{room.capacity}}</td>
    </tr>
    <tr>
        <td>Is projector available?</td>
        <td>{{room.projector|yesno:"Yes,No"}}</td>
    </tr>
    </tbody>
</table>

<br>
<!--ADD RESERVATION-->
<div><b>Add new reservation for this room.</b></div>
<form method="post" action="{% url 'room_add_reservation' room.pk %}" class="form-group">
{% csrf_token %}
    <div class="col">
        {% csrf_token %}
        <input type="date" value="2020-02-17" name="date" class="form-control">
        <input type="text" placeholder="Comment" name="comment" class="form-control">
        <button type="submit" class="btn btn-primary">Add reservation</button>
    </div>
</form>
<br>


<!--RESERVATION TABLE-->
<table class="table table-hover">
    <thead class="table-success">
    <th colspan="2" class="text-center">Reservation table</th>
    <tr>
        <th>Reservation Date</th>
        <th>Comment</th>
    </tr>
    </thead>

    <tbody class>
    {% if reservations %}
    {% for reservation in reservations %}
    <tr>
        <td>{{reservation.date}}</td>
        <td>{{reservation.comment}}</td>

    </tr>

    {% endfor %}
    {% else %}

    <th colspan="2">Currently there is no reservation. Book conference room now!</th>

    </tbody>
    {% endif %}

</table>


{% endblock %}